# EditorConfig
root = true

# All files
[*]

#### Core EditorConfig Options ####

# Encoding
charset = utf-8

# Indentation
tab_width = 4
indent_size = 4
indent_style = tab

# New line and spacing
end_of_line = unset
insert_final_newline = false
trim_trailing_whitespace = true

# Markdown files
[*.md]
indent_size = 2
indent_style = space

# Batch scripts
[*.{bat,cmd}]
end_of_line = crlf

# END